@{ 
    Layout = null;
}
@model List<SAProject.Models.Entities.Student>

<div class="container">
    <h3>Список студентов</h3>
    <p>Loading Partial Views Asynchronously:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Surname</th>
                <th>Name</th>
                <th>Patronymic</th>
                <th>PhoneNumber</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Surname</td>
                    <td>@item.Name</td>
                    <td>@item.Patronymic</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.UpdatedAt.GetValueOrDefault()</td>
                </tr>
            }
        </tbody>
    </table>
</div>